{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated",
    "ServiceBusConnection__fullyQualifiedNamespace": "<namespace>.servicebus.windows.net",
    "Vrl__DataverseUrl": "https://<your-org>.crm.dynamics.com",
    "Vrl__DataverseTenantId": "",
    "Vrl__DataverseClientId": "",
    "Vrl__DataverseClientSecret": "",
    "Vrl__AoaiEndpoint": "",
    "Vrl__AoaiDeployment": "text-embedding-3-small",
    "Vrl__AoaiModel": "text-embedding-3-small",
    "Vrl__AoaiDimensions": "512",
    "Vrl__InteractionsQueue": "vrl-interactions",
    "Vrl__MaturationBatch": "500"
  }
}
